.body{
    padding:none 20px none 20px;
    margin: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;

}
h1{
    color: #f47933;

}

* p{
    text-align: justify;

}
img{
border: 2px solid transparent ;
margin: 20px 20px 20px 20px;
border-radius: 5px 5px 5px 5px;
padding: 10px 10px 10px 10px;
}

.left {
    float: left;

}
.right{
    float: right;
}

.html{
    border-color: #f47933;
    box-shadow: 0 3px 2px #f47933;

}

.css{
    border-color: #008fd5;
    box-shadow: 0 3px 2px #008fd5;


}
.js{
    border-color:#f99d34;
    box-shadow: 0 3px 2px #f99d34;
}
