@media only screen and (max-width: 768px) {
    /* Smaller screen code here */
  }

html body{
    margin: none;
    padding: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
.container {
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-color:#ddd;
    border: 1px solid gray;
}

header{
    padding: 20px 20px 20px 20px;
    color: #eee;
    text-align: center;
}
header, footer{
    background-color: gray;

}

.side{
    float: none;
    width: 100%;
    text-align: center;

    
}
.side ul{
    margin: none;
    padding: none;
    list-style: none;
    text-align: center;
}
.side ul li{
    display: inline-block;
}
.side  li a{
    
    padding: 10px 10px 10px 10px;
    color: #333;
    text-decoration: none;
   

}

.side ul li a:hover{
    color: #eee;
    background-color: gray;

}
.main{
    margin-left: 0;
    background-color: #eee;
    padding: 20px 20px 20px 20px;
}
.main h1{
    margin-top: 0px;

}
.main p{
    margin: none;
    margin-bottom: 20px;
    text-align: center;
}
footer{
    clear: both;
    color: #eee;
    text-align: center;
    padding: 10px none 10px none;
}
.love{
    color: pink;
}
