body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./pattern.jpeg);
    background-repeat: repeat;
    margin:20px 0 20px 0;
    padding: none;

}

.main{
    background-color: white;
    width: 960px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;
}


