*{
    border-width: 1px;
    border-style: solid;
     
}
html {
    border-color: purple;
}
body element{
    border-color: red;
}

div{
    border-color: blue;
}

p {
    border-width: 2px;
    border-color:green;
}
span{
    border-right: 3px;
    border-color: brown;
    border-style: dotted
    
}

link [href="#"]{
    border-width: 2px;
    border-color: coral;
    border-style: dashed;
}

.radius{
    border-width: 2px;
    border-color: orange;
    border-radius: 20px 20px 20px 20px;
}

