ul ol{
    margin: none;
    padding: none;
    margin-bottom: 20px;
  
}


ul {
    list-style: square;
}

ul li {
    list-style: inside;
}

 ol {
   
    list-style: decimal-leading-zero;
}


.decorated li{
    list-style-image: url("./snow.png");
    font-size: 30px;
}

