body{
    margin: none;
    padding-top: 50px;
    padding-left: none;
    padding-bottom: none;
    padding-right: none;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:#be2c2c ;
    padding:10px 20px 10px 20px ;
    margin: none;
    box-shadow: 0 2px 1px #777;

}
nav a{
    color: white;
    text-decoration: none;
    font-size:16px ;
    display: inline-block;
    margin-right: 10px;
}

nav a:hover{
    text-shadow: 0px 1px 5px #444;
}

nav a:last-child{
    margin: none;

}

nav div {
    display: inline-block;
}

.links{
    width: 90%;
    text-align: right;
   
}
.home{
    width: 10%;
    text-shadow:0px 1px 5px #444 ;
}

.links a{
    font-size: 24px;
}

.main{
    font-size: 16px;
    padding-top: none;
    padding-bottom: none;
    padding-right: 20px;
    padding-left: 20px;
    white-space: normal;
    text-align: justify;
}

main h1{
    color:#be2c2c ;

}
footer{
    background-color: #be2c2c ;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-shadow: 0px 1px 5px black;
    margin-top: 50px;
}


