body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    font-size: 2em big;
    color: #ddd;
    text-shadow:1px 2px 3px #666 ;
}
h2{
    font: 1,5em large #ddd #666 ;
}

h1, h2 {
    line-height: 1,4em ;
    text-indent: 0,8em;

}

.main{
    text-align: justify;

}
.bold{
    font-weight: bold;
    color: coral;
}

#quote{
    letter-spacing: 2px;
    font-style: italic;
    color: darkcyan;
}

.last{
    text-align: right;
    color: red;

}

.wrong{
    text-decoration: black line-through;
    font-size: 1.2em;
    height: 700px;
    height: 700px;
}

.google{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6em;
    color: purple;
}
